<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias: https://getbootstrap.com.br/docs/3.3/css/#tables -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Receita Facil - Promocoes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Receita F@cil - Promoções</h1>
      <form id="slackform">
      <div class="section editor"> <label for="farmacia">Farmacia <input id="farmacia" class="form-control"
            type="text"> </label> <br>
            <label for="medicamento">Medicamento <input id="medicamento" class="form-control"
            type="text"> </label> <br>
        <label for="descricao">Descricao <input id="descricao" type="text" class="form-control"> </label>
        <br>
        <label for="link">Link <input id="link" class="form-control"
            type="text"> </label> <br>
        <button id="create" class="btn btn-primary">Incluir</button> <button id="reset" class="btn btn-info">Consultar</button>  <button id="update" class="btn btn-warning">Atualizar</button>
        <button id="delete" class="btn btn-danger">Excluir</button> 
        <input type="button" class="btn btn-secondary"  value="Enviar" onclick="postMSG()"/>
        </div> </form>
      <br>
      <blockquote>
        <p>Clique duas vezes na descricao da promocao para editar.</p>
      </blockquote>
      <div class="promocoes">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Farmacia</th>
              <th>Medicamento</th>
              <th>Descricao</th>
              <th>Link</th>
              <th>Data Inicio</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="error"> </div>
    </div>
    <script src="static/js/promocoes.js"></script>

    <!-- Dependencias Bootstrap: jQuery.js, Popper.js, Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript">
// Definir a função postMSG(), conferir Canal e Webhook:
  function postMSG(){
    // get message to be posted
    var msg = document.getElementById('descricao').value + " - Clique agora: " + document.getElementById('link').value
    // get target channel or team member
    var chan = "#receita-facil"
    // get farmacia
    var user = document.getElementById('farmacia').value
    // format payload for slack
    var sdata = formatForSlack(msg, chan, user)
    // log in console
    console.log(sdata)
    // post
     $.ajax({
       // url is what you get from activating the "Incoming WebHooks" slack integration
       // if you leave, you should see an error message "No Team", status 404
       url: 'https://hooks.slack.com/services/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',
       type: 'POST',
       processData: true,
       data : sdata ,
       success : function(data) {
         // success will show on page
         console.log(data)
         $('#result').html(data);
       },
       error: function(data){
         // error will show error object
         console.log(data)
         $('#result').html("error:"+JSON.stringify(data));
      }
     });
  }
</script>
<script type="text/javascript">
// Definir a função formatForSlack() que ajusta os dados:

  function formatForSlack(msg, chan, user){
    var payload ={
      "channel":chan,
      "username":user,
      "text": msg,
      // https://www.webfx.com/tools/emoji-cheat-sheet/
      "icon_emoji":':gift:'
    };
    // return json string of payload
    return JSON.stringify(payload)
  }
 </script>

  </body>
</html>

